<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <video id="myVideo" width="640" height="360"  playsinline autoplay></video>
    <canvas style = "display: none"></canvas>
    <img id="preview-img">
    <button  id="myBtn"> Click to add a frame </button>
    <h3 id ="result"></h3>
    <script>
        async function fetchData(){

          try {
            const mediaStream = await navigator.mediaDevices.getUserMedia({ video: true });
            const video = document.getElementById('myVideo');
            video.srcObject = mediaStream;  
          } catch (error) {
            console.error(error)
          }

        }


        async function sendImageToBackend(imageBlob) {
          // 1. Initialize the container
          const formData = new FormData();
          
          // 2. Add the blob. The key 'image' MUST match the Flask request key.
          
          formData.append('image', imageBlob, 'upload.jpg');

          try {
            // 3. Dispatch the network payload via fetch
            
            const response = await fetch('/predict', {
              method: 'POST',
              body: formData
            });

            if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
            }

            // 4. Process the model prediction response
            const predictionResult = await response.json();
            console.log('Prediction received:', predictionResult);
            if (predictionResult.letter) {
                document.getElementById("result").textContent = predictionResult.letter;
            } else {
                document.getElementById("result").textContent = predictionResult.error;
            }

          } catch (error) {
            console.error('Failed to submit image for prediction:', error);
          }
        }

          const button = document.getElementById("myBtn");
          button.addEventListener('click', function(){
            const frame = document.querySelector("#myVideo");
            const canvas = document.createElement("canvas");
            const ctx = canvas.getContext("2d");

            canvas.width = frame.videoWidth;
            canvas.height = frame.videoHeight;

            ctx.drawImage(frame, 0, 0, canvas.width, canvas.height);

            canvas.toBlob(function(blob) {
              sendImageToBackend(blob);
            }, "image/jpeg");
          });
        fetchData()
        
        
        

        
    </script>
  </body>
</html>